<template>
  <div>
    <HelloSelf></HelloSelf>
    <!-- <IntroduceVue /> -->
  </div>
</template>

<script>
import HelloSelf from "@/components/HelloSelf.vue";

export default {
  name: "IntroduceView",
  components: {
    HelloSelf,
  },
};
</script>

<style></style>
