<template>
  <div>
    <!-- <v-container fluid>
      <div>
        <v-card class="mx-auto">
          <v-img
            class=""
            height="300px"
            src="https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg"
            cover
          >
            <div class="d-flex justify-center align-center ">
              <v-avatar color="pink" size="150" class="">
                <v-img
                  src="https://media.wired.com/photos/65399d1bae95bb5253bd2d3e/master/pass/Spider-Man-2-Sony-1-Games.jpg"
                  width="100%"
              /></v-avatar>
            </div>
          </v-img>
        </v-card></div
    ></v-container> -->

    <v-container fluid class="white pa-10">
      <div class="d-flex justify-center">
        <v-avatar color="pink" size="150" class="">
          <v-img
            src="https://media.wired.com/photos/65399d1bae95bb5253bd2d3e/master/pass/Spider-Man-2-Sony-1-Games.jpg"
            width="100%"
          />
        </v-avatar>
      </div>
      <v-col>
        <div class="d-flex justify-center align-center">
          <div class="d-flex my-4 font-weight-bold text-md-h4">Profile</div>
        </div>

        <div class="d-flex justify-center align-center">
          <div class="d-flex my-4 font-weight-semi-bold text-h6">
            ชื่อ: ภาณุวิชญ์ สุขช่วย
          </div>
        </div>
        <div class="d-flex justify-center align-center">
          <div class="d-flex my-4 font-weight-semi-bold text-h6">
            ชื่อเล่น: เจมส์
          </div>
        </div>

        <div class="d-flex justify-center align-center">
          <div class="d-flex my-4 font-weight-semi-bold text-h6">
            อายุ: 22 ปี
          </div>
        </div>

        <div class="d-flex justify-center align-center">
          <div class="d-flex my-4 font-weight-semi-bold text-h6">
            มหาวิทยาลัย: มหาวิทยาลัยสงขลานครินทร์
          </div>
        </div>

        <div class="d-flex justify-center align-center">
          <div class="d-flex my-4 font-weight-semi-bold text-h6">
            คณะ: วิศวกรรมศาสตร์ สาขาคอมพิวเตอร์
          </div>
        </div>

        <div class="d-flex justify-center align-center">
          <div class="d-flex my-4 font-weight-semi-bold text-h6">
            อายุ: {{ Name }}
          </div>
        </div>
      </v-col>
    </v-container>
  </div>
</template>

<script>
// import ProfileCardVue from "@/components/ProfileCard.vue";
export default {
  name: "ProfileView",

  components: {
    // ProfileCardVue,
  },
};
</script>

<style></style>
