<template>
  <div>
    <v-row>
      <v-col cols="3">
        <v-card width="350">
          <v-img
            src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
            width="350"
          />
          <v-card-title primary-title><span>Hello</span></v-card-title>
        </v-card>
      </v-col>
      <v-col cols="3">
        <v-card width="350" height="250">
          <v-img
            src="https://cdn.vuetifyjs.com/images/cards/sunshine.jpg"
            width="350"
          />
          <v-card-title primary-title><span>Hello</span></v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "CardImg",
  props: {},
};
</script>

<style></style>
