<template>
  <div></div>
</template>

<script>
export default {
  name: "ProfileCard",
};
</script>

<style>
.card {
  margin: 4px;
}

.avatar {
  display: flex;
  justify-content: center;
  padding: 14px;
}

.title {
  color: black;
  /* font-size: 30lh; */
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.setcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5;
  background-color: rgb(255, 255, 255);
  width: 450px;

  /* padding: 4px; */
}
</style>
